#logo{
    width:120px !important;
    border-radius: 10px;
}

ul li a{
    font-size: large !important;
}

ul li a:hover{
    background-color: white !important;
    border-radius: 5px;
    color: green !important;
}